@import url('/fonts/rubik/rubik.css');
@import url('/fonts/fira-code/fira-code.css');
@import url('/fonts/capriola/capriola.css');
@import url('/css/prism-solarized.css');

:root {
  --foreground: #222;
  --link: #000;
  --faded: #555;
  --background: #fffbee;

  /* Syntax theme */
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;

  --bg-highlight: var(--base3);

  --font: 'Rubik';
  --code-font: 'Fira Code';
  --heading-font: 'Capriola', serif;

  --image-opacity: 1;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #eee;
    --background: #003b4a;
    --link: #ff;
    --faded: #999;

    /* Switch base00-base03 with base0-base3 */
    --base03: #fdf6e3;
    --base02: #eee8d5;
    --base01: #93a1a1;
    --base00: #839496;
    --base0: #657b83;
    --base1: #586e75;
    --base2: #073642;
    --base3: #002b36;

    --image-opacity: 0.9;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  line-height: 1.4;
  font-size: 18px;
  background: var(--background);
}

body {
  font-family: var(--font), sans-serif;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 16px;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: var(--heading-font), sans-serif;
  color: var(--link);
  margin-top: 32px;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4, h5, h6 {
  font-size: 1em;
}

a {
  text-decoration: underline;
  color: var(--base02);
}

a:hover, 
a:active {
  text-decoration: none;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

article {
  margin-bottom: 256px;
}

article:last-child {
  margin-bottom: 128px;
}

article h1 {
  margin: 0px;
}

article h1 a {
  text-decoration: none;
}

article img {
  opacity: var(--image-opacity);
}

article img,
article pre[class*="language-"] {
  width: 960px;
  margin-left: -176px; /* Hackety hack hack */
}

@media screen and (max-width: 960px) {
  article img,
  article pre[class*="language-"] {
    width: 100%;
    margin-left: 0;
  }
}

footer {
  margin: 64px auto;
  text-align: center;
  color: var(--faded);
}

header {
  display: flex;
  align-items: center;
  margin: 64px auto;
  justify-content: center;
  flex-direction: column;
}

header a img {
  border-radius: 100%;
  width: 128px;
}

header ul {
  list-style: none;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 12px;
}

header ul li:last-child {
  margin-right: 0;
}

pre {
  font-size: 16px;
}

code:not([class*=language]) {
  background: var(--bg-highlight);
  padding: 2px 4px;
  border-radius: 4px;
  font-family: var(--code-font), mono-space;
}

time {
  color: var(--faded);
}

blockquote {
  padding: 4px 20px;
  max-width: 640px;
  margin: 0 auto;
  background: var(--bg-highlight);
  border-radius: 8px;
}

blockquote cite {
  text-align: right;
  display: block;
}
