@import url('/fonts/rubik/rubik.css');
@import url('/fonts/fira-code/fira-code.css');
@import url('/fonts/capriola/capriola.css');
@import url('/css/prism.css');

:root {
  --fg: #222;
  --fg-faded: #555;
  --fg-link: #2c4588;
  --fg-divider: #b9c9f2;
  --fg-selection: #eee;
  --bg: #fff;
  --bg-header: #f4f7ff;
  --bg-highlight: #f4f7ff;
  --border-header: rgb(230, 234, 246);

  /* Syntax theme */
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;

  --font: 'Rubik';
  --code-font: 'Fira Code';
  --heading-font: 'Capriola', serif;

  --image-opacity: 1;
}


@media (prefers-color-scheme: dark) {
  :root {
    --fg: #eee;
    --bg: #222;
    --fg-link: #5b7acf;
    --fg-faded: #999;
    --bg-header: #282828;
    --border-header: #181818;
    --bg-highlight: #333;

    /* Switch base00-base03 with base0-base3 */
    --base03: #fdf6e3;
    --base02: #eee8d5;
    --base01: #93a1a1;
    --base00: #839496;
    --base0: #657b83;
    --base1: #586e75;
    --base2: #073642;
    --base3: #002b36;

    --image-opacity: 0.8;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  color: var(--fg);
  line-height: 1.4;
  font-size: 18px;
  background: var(--bg);
}

body {
  font-family: var(--font), sans-serif;
}

::selection {
  background: var(--fg-link);
  color: var(--fg-selection);
}

::-moz-selection {
  background: var(--fg-link);
  color: var(--fg-selection);
}

h1, h2, h3, h4, h5, h6 { 
  font-family: var(--heading-font), sans-serif;
  color: var(--fg-link);
  margin-top: 32px;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4, h5, h6 {
  font-size: 1em;
}

a {
  text-decoration: underline;
  color: var(--fg-link);
}

a:hover, 
a:active {
  text-decoration: none;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 16px;
}

article:not(:last-child)::after {
  content: '————';
  margin: 128px 0;
  display: block;
  text-align: center;
  letter-spacing: -3px;
  color: var(--fg-divider);
}

article:last-child {
  margin-bottom: 128px;
}

article h1 {
  margin: 0px;
}

article h1 a,
article h3 a {
  text-decoration: none;
}

article li {
  margin: 12px 0;
}

article li h3 {
  margin: 0;
}

article img {
  opacity: var(--image-opacity);
}

article img,
article pre[class*="language-"] {
  width: 960px;
  margin-left: -176px; /* Hackety hack hack */
}

/* 960 + 2*16 */
@media screen and (max-width: 992px) {
  article img,
  article pre[class*="language-"] {
    width: 100%;
    margin-left: 0;
  }
}

footer {
  margin: 64px auto;
  text-align: center;
  color: var(--fg-faded);
}

header {
  display: flex;
  align-items: center;
  margin: 0 auto 48px;
  justify-content: center;
  flex-direction: column;
  background: var(--bg-header);
  border-bottom: 1px solid var(--border-header);
  padding: 48px 0 24px;
}

header a img {
  border-radius: 100%;
  width: 128px;
}

header ul {
  list-style: none;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 12px;
}

header ul li:last-child {
  margin-right: 0;
}

pre {
  font-size: 16px;
}

code:not([class*=language]) {
  background: var(--bg-highlight);
  padding: 2px 4px;
  border-radius: 4px;
  font-family: var(--code-font), mono-space;
}

time {
  color: var(--fg-faded);
}

blockquote {
  padding: 4px 20px;
  max-width: 640px;
  margin: 16px auto 0;
  background: var(--bg-highlight);
  border-radius: 8px;
}

blockquote cite {
  text-align: right;
  display: block;
}
