@import "../node_modules/normalize.css/normalize";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 8px;
}

header {
  margin: 32px 0;
}

article {
  margin-bottom: 64px;

  img {
    max-width: 100%;
  }

  &.link .title {
    color: green;
  }

  &.photo .title {
    color: blue;
  }

  &.post .title {
    color: red;
  }

  &.book .title {
    color: orange;
  }
}
