body {
  font-family: $font-family-sans-serif, sans-serif;
  font-size: 18px;
}

main {
  max-width: 640px;
  padding: 20px;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid $color-primary;

  &:hover {
    background: $color-primary;
  }
}

section, article {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8px;
}

p, ul, pre, code {
  margin: 4px 0;
}

a.home-anchor {
  display: block;
  margin-bottom: 20px;
}