body {
  font-family: $font-family-sans-serif, sans-serif;
  font-size: 18px;
}

header {
  padding: 20px;
  max-width: 640px;
  margin: 0 auto;

  nav > ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0 20px 0 0;

      a {
        display: inline-block;

        &.active {
          border-bottom-color: $color-dark;
        }
      }
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid $color-primary;

  &:hover {
    background: $color-primary;
  }
}

section, article {
  max-width: 640px;
  margin: 0 auto 20px;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8px;
}

p, ul, pre, code {
  margin: 4px 0;
}

a.home-anchor {
  display: inline-block;
  margin: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;

  &::before {
    content: '∴';
    display: block;
    margin-bottom: 20px;
  }
}