body {
  font-family: var(--font-family-sans-serif), sans-serif;
  font-size: 20px;
  background: var(--color-bg);
  color: var(--color-fg);
}

header, section, article, footer {
  margin: var(--spacing-vertical) auto;
  padding: 0 20px;
  max-width: 640px;
}

header {
  padding-top: var(--spacing-vertical);
  margin-top: 0;
}

footer {
  padding-bottom: var(--spacing-vertical);
  margin-bottom: 0;
}

header {
  nav {
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0 20px 0 0;

        &.logo {
          svg {
            display: inline-block;
            height: 1.4em;
            margin-bottom: -.2em;
          }

          a {
            border: none;
          }
        }

        a {
          display: inline-block;

          &.active {
            border-bottom-color: var(--color-fg);
          }
        }
      }
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
  padding: 0 2px;
  margin: 0 -2px;

  &:hover {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8px;
  font-weight: 600;
}

p, ul {
  color: var(--color-fg-text);
}

p, ul, pre, code {
  margin: 8px 0;
}

footer {
  text-align: center;
  font-size: 1rem; // TODO: Why do we need this?
  padding-bottom: var(--spacing-vertical);

  &::before {
    content: '∴';
    display: block;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
}

::selection {
  background: var(--color-primary);
  color: var(--color-primary-contrast);
}

mark {
  background: var(--color-primary);
  color: var(--color-primary-contrast);
}
