@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("/inter/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/inter/Inter-Italic.woff2?v=3.19") format("woff2"),
       url("/inter/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("/inter/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
       url("/inter/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Retail';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/retail/Retail-Bold.woff2") format("woff2"),
       url("/retail/Retail-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Retail';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/retail/Retail-BoldItalic.woff2") format("woff2"),
       url("/retail/Retail-BoldItalic.woff") format("woff");
}
