.intro {
  padding-top: 0;

  .title {
    font-family: Retail, Inter, sans-serif;
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

.experience i.location {
  display: block;
}