.intro {
  padding-top: 0;

  .title {
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 20px;
    border-left: 4px solid $color-primary;
    padding-left: 12px;
  }
}

.experience i.location {
  display: block;
}