.intro {
  padding-top: 0;

  .title {
    font-size: 1.8em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
    border-left: 4px solid var(--color-primary);
    padding-left: 12px;
  }
}

.experience i.location {
  display: block;
}
