.intro {
  padding-top: 0;

  .title {
    font-size: 1.8em;
    line-height: 1.2;
    font-weight: 600;
    margin: var(--spacing-vertical) 0;
    border-left: 4px solid var(--color-primary);
    padding-left: var(--spacing-horizontal);
  }
}

.experience i.location {
  display: block;
}
