// Index
.intro {
  padding-top: 0;

  .title {
    font-size: 1.8em;
    line-height: 1.2;
    font-weight: 550;
    margin: 4px 0 var(--spacing-vertical-smol);
    border-left: 4px solid var(--color-primary);
    padding-left: var(--spacing-horizontal);
  }
}

// Work
.work-item {
  h2 {
    margin-bottom: -2px;
  }

  .details {
    color: var(--color-fg-text);
    text-transform: uppercase;
    font-size: .8em;
  }
}

// Weekly
.article--weekly {
  h3 + p > em {
    font-size: .9em;
    color: var(--color-fg-light);
    font-style: normal;
  }
}

.weekly-subscription {
  border: 1px dashed var(--color-primary);
  background: rgba(var(--color-primary-r), var(--color-primary-g), var(--color-primary-b), .1);
  border-radius: var(--border-radius);
  padding: 0 12px;
  margin: 8px 0;

  small {
    @extend .details;
    display: inline-block;
  }

  form {
    @media (max-width: 479px) {
      // Small screens, no flex
      label {
        padding-top: 0;
      }

      input#email {
        display: block;
        width: 100%;
      }

      input[type="submit"] {
        margin-top: 8px;
        display: inline-block;
      }
    }

    @media (min-width: 480px) {
      // Large-ish screen, time to flex
      display: flex;

      label {
        margin-right: 8px;
      }

      input#email {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex-grow: 1;
        margin-right: -1px; // hide the border-right
        width: 100px;
      }

      input[type="submit"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}