:root {
  --color-primary: #ffe28a;
  --color-primary-contrast: #111;
  --color-fg: #111;
  --color-fg-text: #333;
  --color-bg: #fff;
  --font-family-sans-serif: 'Inter', sans-serif;

  @supports (font-variation-settings: normal) {
    --font-family-sans-serif: 'Inter var', sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #fff;
    --color-fg-text: #ddd;
    --color-bg: #111;
  }
}