/* dosis-700 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/dosis/dosis-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/dosis/dosis-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/dosis/dosis-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dosis/dosis-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dosis/dosis-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/dosis/dosis-v17-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
}
