---
permalink: /feeds/index.html
layout: page
title: Feeds
eleventyNavigation:
  key: Feeds
  order: 3
---

<p>These are my RSS subscriptions (some of them are Twitter accounts and some are YouTube channels):</p>

<ul>
{% for feed in feeds %}
<li>
<h3>
  <a href="{{ feed.site_url }}" alt="{{ feed.title }}">{{ feed.title }}</a>
</h3>
</li>
{% endfor %}
