{% extends "_includes/default.njk" %}

{% block content %}
  {% for entry in collections.entries | reverse %}
    {% include "_includes/types/"+entry.data.layout+".njk" %}
  {% endfor %}
{% endblock %}
