---
layout: layouts/base.njk
---

{% for post in collections.posts | reverse %}
<article>
  <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  <h1>
    <a href="{{ post.url | url }}">
    {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
    </a>
  </h1>
  {{ post.templateContent | safe }}
</article>
{% endfor %}
