{% extends "_includes/default.njk" %}

{% block content %}
  {% set entry = { data: { title: title, author: author, cover: cover, date: date }, templateContent: content } %}
  {% include "_includes/types/book.njk" %}
{% endblock %}
