<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ metadata.title }}{% endblock %}</title>
    <meta charset="UTF-8"/>
    {% if description %}<meta name="description" content="{{description}}"/>{% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <style>
      {% include "css/styles.css" ignore missing %}
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <main>
      <a href="/"><h1>{{ metadata.title }}</h1></a>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
      <footer>
        <p>Copyright &copy; {% year %} Arne Bahlo</p>
      </footer>
    </main>
  </body>
</html>
