{% extends "_includes/default.njk" %}

{% block content %}
  {% set entry = { data: { title: title, url: url, date: date }, templateContent: content } %}
  {% include "_includes/types/link.njk" %}
{% endblock %}
