:root {
  --color-primary: hsl(225 100% 64%);
  --color-primary-5: hsl(225 100% 64% / .05);
  --color-primary-10: hsl(225 10% 64% / .1);
  --color-primary-20: hsl(225 100% 64% / .2);
}
@supports (color: oklch(60% .25 265)) {
  :root {
    --color-primary: oklch(60% .25 265);
    --color-primary-5: oklch(60% .25 265 / 5%);
    --color-primary-10: oklch(60% .25 265 / 10%);
    --color-primary-20: oklch(60% .25 265 / 20%);
  }
}
