@import "reset.css";

:root {
  --color-text: #333;
  --color-heading: #111;
  --color-light: #ccc;
  --color-gray: #555;
  --color-bg: #fffefd;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0 16px;
  font-size: 112.5%; /* 18px when the browser is set to 16px */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color-text);
  background: var(--color-bg);
}

main {
  flex-grow: 1;
}

header, main, footer {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

figcaption p {
  margin: 0;
}

p, ul, ol, pre {
  margin: 8px 0 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
  color: var(--color-heading);
}

h1 {
  margin: 0 0 8px;
}

a {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 2px dotted var(--color-light);
}

a:hover {
  color: var(--color-text);
  border-bottom-color: var(--color-text);
}
