@import "reset.css";
@import "fonts.css";

:root {
  --width: 768px;
  --color-text: #333;
  --color-heading: #111;
  --color-light: #ccc;
  --color-gray: #555;
  --color-bg: #fff8f0;
  --color-button: #ffe6cb;
  --color-button-dark: #f2d3b1;

  --font-serif: "Cooper BT", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-sans: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ddd;
    --color-heading: #eee;
    --color-light: #777;
    --color-gray: #bbb;
    --color-bg: #111;
  }
}

body {
  font-family: var(--font-sans);
  padding: 0 16px;
  font-size: 112.5%; /* 18px when the browser is set to 16px */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color-text);
  background: var(--color-bg);
}

main {
  flex-grow: 1;
}

header, main, footer {
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
}

figcaption p {
  margin: 0;
}

p, ul, ol, pre {
  margin-bottom: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 4px;
  color: var(--color-heading);
  font-family: var(--font-serif);
}

h1 {
  margin-bottom: 8px;
}

a {
  color: var(--color-text);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
