@font-face {
  font-family: 'Retail';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/retail/Retail-Bold.woff2") format("woff2"),
       url("/fonts/retail/Retail-Bold.woff") format("woff");
}
