:root {
  --fg: #111;
  --bg: #f5f5f5;
  --main-bg: #fff;
  --main-border: #eee;
  --primary: #1f77d4;
}

@media (prefers-color-scheme: dark) {
  :root {
		--fg: #fff;
		--bg: #111;
    --primary: #1c98fc;
  }
}

