@import "_reset";
@import "_vars";

body {
  font-size: $font-size-base;
}

main {
  max-width: 640px;
  padding: 20px;
  margin: 0 auto;
}

h1.hero {
  margin-bottom: 20px;
}

section {
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.2em;
}

footer {
  padding: 20px 0;
  text-align: center;
}
