/* capriola-regular - latin */
@font-face {
  font-family: 'Capriola';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/capriola/capriola-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Capriola Regular'), local('Capriola-Regular'),
       url('/fonts/capriola/capriola-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/capriola/capriola-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/capriola/capriola-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/capriola/capriola-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/capriola/capriola-v7-latin-regular.svg#Capriola') format('svg'); /* Legacy iOS */
}
