---
import { CollectionEntry, getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}
type Props = CollectionEntry<"page">;

const page = Astro.props;
const { title, description } = page.data;
const { Content } = await page.render();
---

<html lang="en">
  <head>
    <BaseHead title={`${title} — ${SITE_TITLE}`} description={description} />
  </head>
  <body>
    <Header />
    <main id="main">
      <section>
        <h1>{title}</h1>
        <Content />
      </section>
    </main>
    <Footer />
  </body>
</html>
