---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Arne Bahlo is a software engineer working as a developer experience team lead on serverless log management solutions at Axiom.</h1>
      <p>I find joy in creating accessible, performant applications, the indie web, fun
      programming languages (especially Rust) and open source software.</p>
      <p>You can find me on <a href="https://spezi.social/@arne">Mastodon</a> or
      <a href="https://github.com/bahlo">GitHub</a> or talk to me via
      <a href="https://matrix.to/#/@arne:arne.me">Matrix</a> or <a href="mailto:hey@arne.me">Email</a>.
      If you want to know what I’m currently doing, check out <a href="/now">/now</a>.</p>
    </main>
    <Footer />
  </body>
</html>
