---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<style>
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  .hero {
    font-size: 1.5rem;
    color: var(--color-gray);
  }
</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
  </head>
  <body>
    <Header/>
    <main>
      <h1>Hey, I'm Arne —</h1>
      <p class="hero">a full stack software engineer living near Frankfurt, Germany.
        I love the indie web, <a href="https://rustlang.org">safe programming languages</a>, 
        digital gardens, <a href="/books">books</a> and Japanese food. 
        I also publish a <a href="/weekly">weekly newsletter</a> and a 
        <a href="https://sprachnachrichten.fm">podcast</a>.</p>
      <p>
        @ me:
        <a href="https://spezi.social/@arne" rel="me">Mastodon</a>,
        <a href="https://github.com/bahlo">GitHub</a>,
        <a href="mailto:hey@arne.me">Email</a>
      </p>
    </main>
    <Footer/>
  </body>
</html>
