---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
    <style>
      h1 {
        font-size: 2.5rem;
        font-weight: 800;
      }

      .hero {
        font-size: 1.5rem;
        color: var(--color-gray);
      }

      ul.contact {
        display: flex;
        list-style: none;
        padding: 0;
      }

      ul.contact li {
        margin-right: 8px;
      }

      ul.contact li a {
        background: var(--color-button);
        padding: 4px 8px;
        border-radius: 8px;
        text-decoration: none;
        border: 1px solid var(--color-button-dark);
      }

      ul.contact li a:hover {
        background: var(--color-button-dark);
      }
    </style>
  </head>
  <body>
    <Header/>
    <main>
      <h1>Hey, I'm Arne —</h1>
      <p class="hero">a full stack software engineer living near Frankfurt, Germany.
        A systems thinker with a love for safe programming languages, the 
        indie web, digital gardens, reading books and Japanese food. 
      <ul class="contact">
        <li><a href="https://spezi.social/@arne" rel="me">Mastodon</a></li>
        <li><a href="https://github.com/bahlo">GitHub</a></li>
        <li><a href="mailto:hey@arne.me">Email</a></li>
      </ul>
    </main>
    <Footer/>
  </body>
</html>
