---
const today = new Date();
---

<footer>
  <ul>
    <li>&copy; {today.getFullYear()} Arne Bahlo</li>
    <li>
      <a href="/now">Now</a>
    </li>
    <li>
      <a href="/colophon">Colophon</a>
    </li>
    <li>
      <a href="/accessibility">A11y</a>
    </li>
    <li>
      <a href="/imprint">Imprint</a>
    </li>
  </ul>
</footer>
