---
const today = new Date();
---

<footer>
  <hr>
  &copy; {today.getFullYear()} Arne Bahlo &middot;
  <a href="/now">Now</a> &middot;
  <a href="/colophon">Colophon</a> &middot;
  <a href="/accessibility">A11y</a> &middot;
  <a href="/imprint">Imprint</a>
</footer>
