---
const today = new Date();
---

<style>
  .container {
    display: flex;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    line-height: 1.5;
    color: var(--color-gray);
    font-size: var(--font-size-small);
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 16px;
  }

  a {
    color: var(--color-gray);
  }

  .middot {
    margin: 0 .2rem;
  }
</style>

<footer>
  <div class="container">
    <a href="/now">Now</a>
    <span class="middot">&middot;</span>
    <a href="/work">Work</a>
    <span class="middot">&middot;</span>
    <a href="/colophon">Colophon</a>
    <span class="middot">&middot;</span>
    <a href="/accessibility">A11y</a>
    <span class="middot">&middot;</span>
    <a href="/imprint">Imprint</a>
    <div class="flex-spacer"></div>
    <span>&copy; {today.getFullYear()} Arne Bahlo</span>
  </div>
</footer>
