---
const today = new Date();
---

<style>
  .container {
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
    font-size: var(--font-size-small);
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 16px;
  }

  a {
    color: var(--color-gray);
  }
</style>

<footer>
  <div class="container">
    <div>
      <a href="/colophon">Colophon</a> &middot;
      <a href="/accessibility">A11y</a> &middot;
      <a href="/imprint">Imprint</a>
    </div>
    <span>&copy; {today.getFullYear()} Arne Bahlo</span>
  </div>
</footer>
