---
import HeaderLink from './HeaderLink.astro';
import Maintenance from './Maintenance.astro';
---

<style>
  nav {
    display: flex;
    align-items: center;
    margin: 16px 0;
  }

  nav a {
    display: inline-block;
    margin-right: 8px;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    color: var(--color-gray);
  }

  nav .home {
    color: var(--color-text);
    font-weight: bold;
  }

  nav a svg {
    display: none;
    position: absolute;
    bottom: -3px;
    width: 100%;
  }

  nav a.active svg .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s ease-in-out 4ms forwards;
  }

  @media (prefers-reduced-motion) {
    nav a.active svg .path {
      animation: none;
    }
  }

  @keyframes draw {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  nav a:hover,
  nav a.active {
    color: var(--color-heading);
  }

   nav a.active svg {
    display: block;
   }
</style>

<header>
  <Maintenance />
  <nav>
    <HeaderLink href="/" class="home">Arne Bahlo</HeaderLink>
    <HeaderLink href="/work">
      Work
      <svg width="42" height="5" viewBox="0 0 42 5" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path class="path" d="M1 2.44523C2.33756 2.09669 3.90474 2.08438 5.24104 2.40482C6.07495 2.60479 6.68308 3.28233 7.45309 3.62231C8.99179 4.3017 10.2474 3.89906 11.7958 3.67283C12.4495 3.57733 13.0834 3.85435 13.7282 3.94058C14.6755 4.06726 15.714 3.9989 16.6115 3.66273C17.5267 3.31991 18.352 2.79295 19.266 2.44523C20.0734 2.13801 20.8028 2.12513 21.6458 2.03603C23.449 1.84547 25.2778 2.18939 27.087 2.17243C28.4555 2.15961 29.505 1.18013 30.9313 1.37424C31.7655 1.48775 32.4184 2.13055 33.1993 2.40482C33.9646 2.6736 34.9058 2.57381 35.5995 2.17243C36.3676 1.72801 37.0737 1.08982 37.9997 1.01051C39.1682 0.91044 40.0275 1.54477 41 2.0815" stroke="#D23A3A" stroke-width="2" stroke-linecap="round"/>
        </g>
      </svg>
    </HeaderLink>
    <HeaderLink href="/blog">
      Blog
      <svg width="35" height="5" viewBox="0 0 35 5" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path class="path" d="M1 2C3.13632 1.78977 4.57125 1.54213 6.5 2.5C7.93431 3.21232 9.59396 3.16326 11.2397 2.9319C12.8333 2.70787 14.386 2.38158 15.9956 2.70373C17.3482 2.97445 18.658 3.6193 20.0235 3.77028C21.4588 3.92898 22.0682 3.10634 23.5 3.00001C24.9115 2.89518 26.6149 2.85653 28 3.00001C29.2801 3.13261 30.8151 3.48421 32 2.9319C32.5504 2.67532 33.368 2.69843 34 2.69843" stroke="#D23A3A" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </HeaderLink>
    <HeaderLink href="/weekly">
      Weekly
      <svg width="64" height="7" viewBox="0 0 64 7" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path class="path" d="M2 3.33466C4.69305 3.21584 7.36108 2.96445 10.0585 2.836C13.2617 2.68347 16.3057 2.40791 19.5 2.11152C23.8721 1.70587 26.1594 2.55433 30.5 3.33466C31.766 3.56225 35.2177 3.0232 36.4966 3.1653C37.2551 3.24958 37.9982 3.1885 38.7499 3.33466C39.7906 3.53701 40.5502 4.22203 41.5019 4.65186C42.9472 5.30454 43.9429 5.51429 45.5 5.5C46.338 5.49231 47.755 5.09547 48.5819 4.99057C49.6983 4.84893 50.8237 4.90985 51.9408 5.00938C54.0819 5.20018 56.0497 4.52561 58.0469 3.78627C59.7511 3.15541 61.5281 2.76291 63.2216 2.11154" stroke="#D23A3A" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </HeaderLink>
    <HeaderLink href="/books">
      Books
      <svg width="52" height="7" viewBox="0 0 52 7" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path class="path" d="M1.94324 3.26141C5.24708 3.31741 8.51363 3.54383 11.7787 4.0621C15.4302 4.6417 17.8541 3.88579 21.5 4.5C23.8105 4.88925 25.6572 5.22166 28 5.23067C29.7393 5.23736 32.8249 5.00004 34.5 4.5C35.7878 4.11558 36.6352 3.92562 38 4.0621C38.599 4.122 39.5 4.5 40.5 4C41.5 3.4379 40.998 3.80424 41.7938 3.33715C42.5075 2.91824 43.5066 2.85271 44.3041 2.62843C45.1141 2.4006 45.8897 2.09283 46.7386 2.09283C47.0706 2.09283 47.3246 2.2876 47.615 2.2876" stroke="#D23A3A" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </HeaderLink>
  </nav>
</header>
