---
import HeaderLink from "./HeaderLink.astro";
---

<style>
  .container {
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 var(--space-3);
    overflow: scroll;
  }

  nav {
    display: inline-flex;
    flex-flow: nowrap;
    align-items: center;
    margin: var(--space-4) auto;
    gap: var(--space-1);
    line-height: 1.5;
    border: 1px solid var(--color-header-border);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
    padding: var(--space-1);
  }

  nav a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    color: var(--color-text);
    padding: var(--space-1) var(--space-2);
    border-radius: 4px;
    transition: all .1s ease-in-out;
  }

  nav .home {
    color: var(--color-heading);
    font-weight: bold;
  }

  @media (prefers-reduced-motion) {
    nav a.active .underline path {
      animation: none;
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
  }

  @keyframes draw {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  nav a:hover,
  nav:not(:hover) a.active {
    color: #fff;
    background: var(--color-primary);
  }
</style>

<a class="skip-link" href="#main">Skip to content</a>
<header>
  <div class="container">
    <nav>
      <HeaderLink href="/" class="home">Arne</HeaderLink>
      <HeaderLink href="/weekly/">Weekly</HeaderLink>
      <HeaderLink href="/blog/">Writing</HeaderLink>
      <HeaderLink href="/books/">Reading</HeaderLink>
    </nav>
  </div>
</header>
