---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

// Add trailing slash
if (!href.endsWith("/")) {
  href = href + "/";
}

let isActive = false;
if (href == "/") {
  isActive = href == pathname;
} else {
  isActive = pathname.startsWith(href);
}
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
