---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/work">Work</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/weekly">Weekly</HeaderLink>
    <HeaderLink href="/books">Books</HeaderLink>
  </nav>
  <hr>
</header>
