---
---

<style>
  .warning {
    background: #fff6c7;
    padding: 8px;
    width: 100%;
    display: block;
    margin: 16px 0;
    border-radius: 8px;
  }

  @media (prefers-color-scheme: dark) {
    .warning {
      background: #8a760ead;
      border: 1px solid #ffdd2c38;
    }
  }
</style>

<span class="warning">🚧 This website is being redesigned in the open</span>
