---
---

<style>
  .warning {
    background: #fff6c7;
    padding: 8px;
    width: 100%;
    display: block;
    margin: 16px 0;
    border: 1px solid #f7dc50;
    border-radius: 8px;
  }

  @media (prefers-color-scheme: dark) {
    .warning {
      background: rgba(255, 246, 199, .26);
      border-color: rgba(247, 220, 80, 0.22);
    }
  }
</style>

<span class="warning">🚧 This website is being redesigned in the open</span>
