---
---

<style>
  .subscribe-form {
    margin-bottom: 12px;
  }

  input {
    border-radius: 8px;
    margin-bottom: 8px;
  }

  small {
    line-height: 1.2;
    display: inline-block;
  }
</style>

<div class="subscribe-form">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/arnesweekly"
    method="post"
  >
    <label for="email">Email address:</label>
    <input
      required
      type="email"
      name="email"
      id="email"
      placeholder="you@example.org"
    />
    <input type="submit" value="Subscribe" />
  </form>
  <small>
    Your email address will be sent to
    <a href="https://buttondown.email">Buttondown</a>, the service I use
    to send out emails.
  </small>
</div>
