---
---

<style>
  .subscribe-form {
    margin-bottom: 12px;
  }

  #email {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -5px;
    border-right: 0;
  }

  input[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 4px;
  }

  small {
    line-height: 1.2;
    display: inline-block;
  }

  @media (max-width: 326px) {
    #email {
      margin-bottom: 8px;
    }

    #email,
    input[type="submit"] {
      width: 100%;
      border-radius: 8px;
    }
  }
</style>

<div class="subscribe-form">
  <h2>Subscribe</h2>
  <p>
    Get Arne's Weekly in your inbox every Sunday. No ads, no shenanigans.
  </p>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/arnesweekly"
    method="post"
  >
    <label for="email">Email address:</label>
    <input
      required
      type="email"
      name="email"
      id="email"
      placeholder="you@example.org"
    />
    <input type="submit" value="Subscribe" />
  </form>
  <small>
    Your email address will be sent to
    <a href="https://buttondown.email">Buttondown</a>, the service I use
    to send out emails.
  </small>
</div>
