---
---

<style>
  .weekly-subscription {
    background: var(--color-bg-box);
  }
</style>

<>
  <h2>Subscribe</h2>
  <p>
    Get the newsletter in your inbox every Sunday. No ads, no shenanigans.
  </p>
  <div className="weekly-subscription">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/arnesweekly"
      method="post"
    >
      <label for="email">Email:</label>
      <input
        required
        type="email"
        name="email"
        id="email"
        placeholder="you@example.org"
      />
      <input type="submit" value="Subscribe" />
    </form>
    <span>
      Your email address will be sent to
      <a href="https://buttondown.email">Buttondown</a>, the service I use
      to send out emails.
    </span>
  </div>
</>
