{{define "main"}} 

<h1 class="hero">{{ .Params.hero }}</h1>

{{ .Content }}

<section>
  <h2>Open Source</h2>
  <ul>
    {{ range .Params.openSource }}
    <li>
      <h3><a href="https://github.com/{{ .repo }}" alt="{{ .repo }}">{{ .repo }}</a></h3>
			<p>{{ .description | $.RenderString }}
    </li>
    {{end}}
  </ul>
</section>

<section>
  <h2>Side Projects</h2>
  <ul>
    {{ range .Params.sideProjects }}
    <li>
      <h3><a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a></h3>
			<p>{{ .description | $.RenderString }}</p>
    </li>
    {{end}}
  </ul>
</section>

<section>
  <h2>Experience</h2>
	<ul>
		{{ range .Params.experience }}
		<li>
				<h3>{{ .from }} &ndash; {{ .to }}: {{ .title }} @ {{ .company }}</h3>
				<i>{{ .location }}</i>
				<ul>
				{{ range .tasks }}
				<li>{{ . | $.RenderString }}</li>
				{{end}}
				</ul>
		</li>
		{{ end }}
	</ul>
</section>

{{ end }}
