ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{HTTP:Origin} !^$|http(s)?://arne\.me$ [NC]
RewriteRule \.(woff|eot|ttf|woff2|svg)$ - [NC,L]
RewriteCond %{HTTP_REFERER} !.
RewriteRule \.(woff|eot|ttf|woff2|svg)$ - [F,NC,L]
Options -Indexes

Redirect 301 /projects /now
