{% extends "base.html" %}

{% block content %}
<section class="experience">
	<div class="title">
		<h1>Experience</h1>
	</div>
	<div class="content">
		<ul>
			{% for experience in page.extra.experience %}
			<li>
				<h3>{{ experience.from }} &ndash; {{ experience.to }}: {{ experience.title }} @ {{ experience.company }}</h3>
				<i class="location">{{ experience.location }}</i>
				<ul>
					{% for task in experience.tasks %}
					<li>{{ task | markdown(inline=true) | safe }}</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endblock content %}