<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />

    <!-- <link rel="stylesheet" href="/style.css" /> -->

    <link rel="alternate" type="application/rss+xml" title="Arne's Writing" href="/writing/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="Arne's Weekly" href="/weekly/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="Arne's Reading" href="/reading/atom.xml" />

    <link rel="me" href="https://spezi.social/@arne">
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to content</a>
    <div class="sitewrapper">
      <nav class="nav">
        <h1 class="nav__title"><a href="/">Arne Bahlo</a></h1>
        <a href="/articles">Articles</a>
        <span class="nav__separator">/</span>
        <a href="/weekly">Weekly</a>
        <span class="nav__separator">/</span>
        <a href="/projects">Projects</a>
        <span class="nav__separator">/</span>
        <a href="/contact">Contact</a>
      </nav>
      {% block content %}{% endblock content %}
      <footer class="footer">
        <span>&copy; 2021 &ndash; {{  now() | date(format="%Y") }} Arne Bahlo</span>
      </footer>
    </div>
  </body>
</html>
