{% extends "base.html" %}

{% block title %}
{{ page.title }} — {{ config.title }}
{% endblock title %}

{% block content %}
<section class="side-projects">
	<h1>Side Projects</h1>
	{% for sideProject in page.extra.sideProjects %}
		<h2><a href="{{ sideProject.url }}" alt="{{ sideProject.title }}">{{ sideProject.title }}</a></h2>
		<p>{{ sideProject.description | markdown(inline=true) | safe }}</p>
	{% endfor %}
</section>

<section class="open-source">
	<h1>Open Source</h1>
	{% for project in page.extra.openSource %}
		<h2><a href="https://github.com/{{ project.repo }}" alt="{{ project.repo }}">{{ project.title }}</a></h2>
		<p>{{ project.description | safe }}
	{% endfor %}
</section>
{% endblock content %}