{% extends "base.html" %}

{% block title %}
{{ section.title }} — {{ config.title }}
{% endblock title %}

{% block description %}{{ section.description }}{% endblock description %}
{% block ogDescription %}{{ section.description }}{% endblock ogDescription %}

{% block content %}
<section>
  <h1>{{ section.title }}</h1>

  {{ section.content | safe }}

  <ul>
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}