{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}
{% block ogTitle %}{{ page.title }}{% endblock ogTitle %}
{% block twitterTitle %}{{ page.title }}{% endblock twitterTitle %}

{% block description %}{{ page.description }}{% endblock description %}
{% block ogDescription %}{{ page.description }}{% endblock ogDescription %}

{% block ogType %}article{% endblock ogImage %}

{% block head %}
<meta property="article:published_time" content="{{ page.date | date(format=" %Y-%m-%dT00:00:00+00:00:00")}}">
{% endblock head %}

{% block content %}
<span class="preface">
  This is issue #{{ page.extra.num }} of <a href="/weekly">Arnes Weekly</a>.
</span>
<article class="article--weekly">
  <h1>{{ page.title }}</h1>
  <span class="details">
    <time datetime="{{ page.date}}">{{ page.date | date(format="%b %d, %Y") }}</time>
  </span>
  {{ page.content | safe }}

  {% include "shortcodes/newsletter_subscribe_form.html" %}
</article>
{% endblock content %}