{% extends "base.html" %}

{% block title %}
{{ page.title }} — {{ config.title }}
{% endblock title %}

{% block content %}
<h1>Work</h1>
{% for experience in page.extra.experience %}
<section class="work-item">
	<h3>{{ experience.from }} &ndash; {{ experience.to }}: {{ experience.title }} @ {{ experience.company }}</h3>
	<i class="location">{{ experience.location }}</i>
	<ul>
		{% for task in experience.tasks %}
		<li>{{ task | markdown(inline=true) | safe }}</li>
		{% endfor %}
	</ul>
</section>
{% endfor %}
{% endblock content %}