{% extends "base.html" %}

{% block title %}
{{ page.title }} — {{ config.title }}
{% endblock title %}

{% block content %}
<h1>Work</h1>
{% for experience in page.extra.experience %}
<section class="work-item">
	<span class="timeframe">{{ experience.from }} &ndash; {{ experience.to }}</span>
	<h1>{{ experience.title }} at {{ experience.company }}</h1>
	<span class="location">{{ experience.location }}</span>
	<ul>
		{% for task in experience.tasks %}
		<li>{{ task | markdown(inline=true) | safe }}</li>
		{% endfor %}
	</ul>
</section>
{% endfor %}
{% endblock content %}