<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">
        <img src="/images/me.jpg" alt="A photo of me" />
      </a>

      <ul>
      {%- for entry in collections.all | eleventyNavigation %}
        <li><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      &copy; {{ currentYear }} Arne Bahlo
    </footer>
  </body>
</html>

