.article {
  &__byline {
    @include themed() {
      color: t($muted);
    }
  }

  &__collection_url {
    color: inherit;
  }

  &__header {
    padding-bottom: 1rem;
  }

  .e-content {
    @include stack;
  }
}