.article {
  @include stack(.5rem);

  &__heading {
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;

    // We need that br for the HTML-only version to look nice, but since
    // this is display: block; we don't wnat to render it with CSS.
    + br {
      display: none;
    }
  }

  &__byline {
    color: $color-light;
    font-size: $font-size-small;
    display: block;
    line-height: 1;
    margin-top: .25rem;

    @media (prefers-color-scheme: dark) {
      color: $color-dark-light;
    }
  }

  &__homescreen_image {
    max-width: 480px;
  }
}

.book_review {
  &__cover {
    width: 40%;
    float: right;
    margin: 0 0 .5rem .5rem;
  }
}
