.aside {
  @include stack(.5rem);
  align-self: flex-start;
  width: 256px;
  padding: 1rem;
  border: 1px dashed $color-aside-border;
  border-radius: 8px;
  background: $color-aside-background;

  ul {
    list-style: none;
    padding: 0;
  }
  
  nav {
    @include stack;
  }

  &__divider {
    color: $color-secondary;
  }

  &__fineprint, &__more {
    font-size: $font-size-small;
  }
}