.aside {
  @include stack(.5rem);
  width: 256px;

  ul {
    list-style: none;
    padding: 0;
  }
  
  nav {
    @include stack;
  }

  &__divider {
    color: $color-secondary;
  }

  &__fineprint, &__more {
    font-size: $font-size-small;
  }
}