html {
  font-size: 110%;
}

body {
  font-family: "Rebond Grotesque", sans-serif;
  font-feature-settings: "ss06" 1, "ss07" 1, "ss09" 1, "liga" 1, "calt" 1, "dlig" 1;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  color: #333;
  padding: 1rem;
  background: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

a {
  color: $color-primary;
  text-underline-offset: .1em;
  text-decoration-color: $color-secondary;
}

blockquote {
  border-left: 4px solid $color-primary;
  padding: .25rem 0 .25rem 1rem;
}

dl {
  dt {
    float: left;
    margin-right: 4px;

    &::after {
      content: ":";
    }
  }
}

section, article, .e-content {
  @include stack;
}

.skip-link {
  position: absolute;
  top: 0;
  transform: translateY(-100%);

  &:focus {
    transform: translateY(0);
  }
}

.hero {
  &__arne--alt-1 {
    .mouth-1 {
      visibility: hidden;
    }
    .mouth-2 {
      visibility: visible;
    }
  }

  &__arne--alt-2 {
    .eyes-1, .mouth-2 {
        visibility: hidden !important;
    }
    .eyes-2, .tounge {
        visibility: visible;
    }
  }
}

img {
  max-width: 100%;
}

.blogpost__heading,
.weekly__heading,
.book_review__heading {
  margin-bottom: .25rem;
}

.sitewrapper {
  margin: 0 auto;
  max-width: 960px;
}

.top-part {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

main {
  width: 500px;
  flex-grow: 1;
}

@media (max-width: 960px) {
  .top-part {
    flex-direction: column;
  }

  main {
    width: 100%;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-small;
}

.hidden {
  display: none;
}

.byline {
  font-size: $font-size-small;
}
