.book_reviews {
  @include stack;
}

.book_review {
  @include stack;

  &__cover {
    width: 40%;
    float: right;
    margin: 0 0 .5rem .5rem;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}