@font-face {
    font-family: "Rebond Grotesque";
    font-weight: normal;
    src:
        url("/fonts/rebond-grotesque/ESRebondGrotesque-Regular.woff2")
            format("woff2"),
        url("/fonts/rebond-grotesque/ESRebondGrotesque-Regular.woff")
            format("woff"),
        url("/fonts/rebond-groteque/ESRebondGrotesque-Regular.eot")
            format("eot");
}

@font-face {
    font-family: "Rebond Grotesque";
    font-weight: normal;
    font-style: italic;
    src:
        url("/fonts/rebond-grotesque/ESRebondGrotesque-Italic.woff2")
            format("woff2"),
        url("/fonts/rebond-grotesque/ESRebondGrotesque-Italic.woff")
            format("woff"),
        url("/fonts/rebond-groteque/ESRebondGrotesque-Italic.eot") format("eot");
}

@font-face {
    font-family: "Rebond Grotesque";
    font-weight: 500;
    src:
        url("/fonts/rebond-grotesque/ESRebondGrotesque-Medium.woff2")
            format("woff2"),
        url("/fonts/rebond-grotesque/ESRebondGrotesque-Medium.woff")
            format("woff"),
        url("/fonts/rebond-groteque/ESRebondGrotesque-Medium.eot") format("eot");
}

@font-face {
    font-family: "Rebond Grotesque";
    font-weight: bold;
    src:
        url("/fonts/rebond-grotesque/ESRebondGrotesque-Bold.woff2")
            format("woff2"),
        url("/fonts/rebond-grotesque/ESRebondGrotesque-Bold.woff")
            format("woff"),
        url("/fonts/rebond-groteque/ESRebondGrotesque-Bold.eot") format("eot");
}

@font-face {
  font-family: "Pragmata Pro";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/pragmatapro/PragmataPro_Mono_R_liga_0829.woff2") format("woff2");
}