.footer {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #aaa;

  @media (max-width: 1024px) {
    padding-top: 2rem;
  }

  &.footer { 
    margin-top: 0; // We already have a br
  }

  a {
    color: inherit;
  }

  &__pages {
    display: flex;
    gap: 1rem;
    order: 1;

    @media print {
      display: none;
    }
  }
}