.footer {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: $color-muted;
  gap: 1rem;

  @media (max-width: 1024px) {
    padding-top: 2rem;
  }

  @media (max-width: 640px) {
    flex-direction: column-reverse;
  }

  &.footer { 
    margin-top: 0; // We already have a br
  }

  a {
    color: inherit;
  }

  &__pages {
    display: flex;
    gap: 1rem;
    order: 1;

    @media print {
      display: none;
    }
  }
}