.index {
  margin: 2rem 0;

  &__column {
    @include stack(.75rem);
  }

  @media (max-width: $index-width) {
    @include stack;
    max-width: $page-width;
  }

  @media (min-width: $index-width) {
    display: flex;
    gap: 1rem;
    align-items: start;

    &__column {
      width: 320px;
    }
  }

  &__more {
    text-decoration: none;

    @media print {
      display: none;
    }
  }
}

.hero {
  margin-top: 2rem;
  max-width: $page-width;
  display: flex;
  gap: 1rem;
  align-items: center;

  &__heading {
    font-size: $font-size-hero;
  }

  &__subheading {
    font-size: $font-size-large;
  }

  &__arne {
    max-height: 130px;

    &:hover {
      .eyes-1 {
        visibility: hidden;
      }

      .eyes-2, .tounge {
        visibility: visible;
      }
      // .mouth-1 {
      //   visibilty: hidden;
      // }
      // .mouth-2 {
      //   visibility: visible;
      // }
    }
  }
}
