.hero {
  padding-bottom: 4rem;

  @media (max-width: $max-width) {
    padding-bottom: 2rem;
  }

  &__arne {
    height: $typescale-xxxxl;
    width: auto;
    float: left;
    margin-right: 1rem;

    &::selection {
      background: none;
    }

    &--alt-1 {
      .mouth-1 {
        visibility: hidden;
      }
      .mouth-2 {
        visibility: visible;
      }
    }

    &--alt-2 {
      .eyes-1, .mouth-2 {
        visibility: hidden !important;
      }

      .eyes-2, .tounge {
        visibility: visible;
      }
    }
  }

  &__heading {
    font-size: $typescale-xxxl;
  }

  &__subheading {
    font-size: $typescale-xxl;
    line-height: 1.2;
  }

  @media (max-width: 960px) {
    &__arne {
      height: $typescale-xxxl;
    }

    &__heading {
      font-size: $typescale-xxl;
    }

    &__subheading {
      font-size: $typescale-xl;
    }
  }
}

.index {
  @include stack;

  &__more {
    padding-top: 1rem;
    display: inline-block;
    @include themed() {
      color: t($muted);
    }
  }
}