pre[class*="language-"] {
  .keyword, .modifier {
    color: rgb(231, 29, 0);
  }

  .variable {
    color: $color-primary;
  }

  .type, .entity, .function {
    color: rgb(6, 28, 113);
  }

  .string {
    color: rgb(43, 164, 43);
  }

  .comment {
    color: rgb(83, 83, 83);
  }
}