pre[class*="language-"] {
  background: #f0f0f0;
  border-radius: 4px;

  padding: .5rem;
  width: calc(100% + 1rem);
  margin-left: -.5rem;

  @media(max-width: calc($page-width + 1rem)) {
    width: 100%;
    margin-left: 0;
  }

  .keyword, .modifier {
    color: $color-orange;
  }

  .variable {
    color: $color-blue;
  }

  .type, .entity {
    color: $color-purple;
  }

  .string {
    color: $color-green;
  }

  .comment {
    color: $color-light;
  }

  @media (prefers-color-scheme: dark) {
    background: #111;

    .keyword, .modifier {
      color: $color-dark-orange;
    }

    .variable {
      color: $color-dark-blue;
    }

    .type, .entity {
      color: $color-dark-purple;
    }

    .string {
      color: $color-dark-green;
    }

    .comment {
      color: $color-dark-light;
    }
  }
}
