// 1.200 Minor Third
$font-size-large: 2.074rem;
$font-size-h1: 1.728rem;
$font-size-h2: 1.44rem;
$font-size-h3: 1.2rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;
$font-size-p: 1rem;
$font-size-small: 0.833rem;
$font-size-tiny: 0.694rem;

$color-primary: #4040ff;