$color-background: #010101;
$color-text: #ddd;
$color-headings: #eee;
$color-muted: #aaa;

$max-width: 1024px;

// 1.250 Major-Third
$typescale-xxxxl: 3.815rem;
$typescale-xxxl: 3.052rem;
$typescale-xxl: 2.441rem;
$typescale-xl: 1.953rem;
$typescale-l: 1.563rem;
$typescale-m: 1.25rem;
$typescale-s: .8rem;
$typescale-xs: .64rem;