$site-width: 680px;

$font-size-larger: 1.138rem;
$font-size-large: 1.067rem;
$font-size-small: 0.937rem;

$color-bg: default;
$color-link: #0000ff;
$color-nav-link: $color-link;
$color-heading: inherit;
$color-nav-title: $color-heading;
