.weekly {
  @include stack;

  &__header {
    @include stack;
  }

  .e-content {
    @include stack;
  }

  &__subscribe_form {
    input[type="email"] {
      background: none;
      border: none;
      padding: .25rem .5rem;
      @include themed() {
        color: t($text);
      }
    }

    input[type="submit"] {
      @include themed() {
        background: t($dark);
        color: t($text);
      }
      padding: .25rem .5rem;
      border: none;
      cursor: pointer;
      margin-left: .5rem;
    }

    small {
      margin-top: .5rem;
      line-height: 1.2;
      display: block;
    }
  }

  &__overview {
    @include stack;
  }
}